html{
    color:white;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #73532C;
}


header {
    background-color: #1E3859;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}


header img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

main {
    background-color: #73532C;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
 
}

section h2 {
    color: #ccc;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}


aside {
    background-color: #1E3859;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

aside h2 {
    color: #ccc;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

aside img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #1E3859;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #1E3859;
}

th {
    background-color: #1E3859;
}

footer {
    background-color: #254159;
    color: #fff;
    text-align: center;
    padding: 10px 0;
   
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dashed #fff;
}

footer a:hover {
    border-bottom-style: solid;
}

td a{
    font-weight: bold;
    text-decoration: none;
    color:limegreen;
}